* {
    font-family: 'Nerko One', cursive;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: chocolate;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.products {
    border: 2px solid;
    width: 64vw;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.sous-prod {
    border: 1px solid;
    border-radius: 7%;
    margin: 5px;
    padding: 10px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plus {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.prod-img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.detail {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#logout {
    background-color: black;
    border: none;
}

.panier {
    border: 2px solid;
    width: 32vw;
    padding: 5px;
}

.panier>input {
    width: 100%;
    height: 45px;
    border: 2px solid;
    font-size: large;
    margin-bottom: 5px;
}

.total {
    background-color: chocolate;
    height: 40px;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5px;
}

.articles-liste {
    border: 2px solid;
    height: 91%;
    padding: 5px;
}

.article {
    border: 2px solid chocolate;
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.article>img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.del {
    cursor: pointer;
}